@import url("./reset.css");

body {
  height: 100%;
  overflow: hidden;
}

.wrap {
  width: 100%;
  display: flex;
}

.game__info {
  font-size: 40px;
  margin: 20px 60px;
}

.game__level {
  margin-top: 20px;
}

.game__text {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 50px;
  color: white;
}

.game__text > button {
  padding: 20px;
  margin-top: 50px;
  background-color: wheat;
  cursor: pointer;
}

.playground {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.playground > ul {
  border: 4mm ridge rgba(170, 50, 220, 0.6);
  width: 300px;
  height: 600px;
  background-color: black;
}

.playground > ul > li {
  width: 100%;
  height: 30px;
}
.playground > ul > li > ul {
  display: flex;
}
.playground > ul > li > ul > li {
  width: 30px;
  height: 30px;
}

.t {
  background-color: violet;
}

.square {
  background-color: yellow;
}

.i {
  background-color: turquoise;
}

.z {
  background-color: red;
}

.s {
  background-color: greenyellow;
}
.l {
  background-color: peru;
}
.j {
  background-color: blue;
}
